<% include partials/dashboard %>
      <div class="container">      
        <div class="panel-heading">
            <h3 class="panel-title">Thêm Label</h3>
        </div>
        <form method="post">
        <div class="form-group">
            <label for="list">Label</label>
            <input type="text" class="form-control" name="list" placeholder="Nhãn hiệu">
        </div>
        <button style="width: 25%;" type="submit" class="btn btn-secondary pt-2 pb-2">Submit</button>
    </form>  
    </div>
    <!-- /#page-content-wrapper -->
    <% include partials/script %>
</body>
</html>