<% include partials/dashboard %>
<div class="container">
    <hr>
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Label</h3>
                <button type="button" class="btn btn-dark rounded-0"><a href="/admin/label/add">Add Label</a></button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    <% label.forEach(function(label){ %>
                    <tr>
                        <td><%= label.list %></td>
                        <td>
                            <a href="/label/del:<%= label._id %>" class="btn btn-secondary rounded-0">Delete</a>                                
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
<% include partials/script %>
</body>
</html>